.cor-1{
	background-color: #9ba6ff;
}
.cor-2{
	background-color: #1e1;
}
.cor-3{
	background-color: #008080;
}
.cor-4{
	background-color: #a6ff9b;
}
.cor-5{
	background-color: #000080;
}
.cor-6{
	background-color: #6495ED;
}
.cor-7{
	background-color: #F5DEB3;
}
.cor-8{
	background-color: #D2B48C;
}
.cor-9{
	background-color: #DDA0DD;
}
.cor-10{
	background-color: #FFC0CB;
}
.cor-11{
	background-color: #FFA07A;
}
.cor-12{
	background-color: #FFFF00;
}
.cor-13{
	background-color: #F5F5DC;
}
.cor-14{
	background-color: #FFDAB9;
}
.cor-15{
	background-color: #F0FFFF;
}
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
.horarios td, .dia{
	font-weight: bold;
	background-color: #7FFFD4 !important;
}

.horarios td{
	font-size: 0.9em;
}
table td{
	border-color: black !important;
}

.nome-curso{
	float: left;
	margin-bottom: -5px;
	font-size: 0.55em;
}

.periodo-curso{
	font-weight: bold;
	margin-top: 0;
	font-size: 0.6em;
}

.abrev-curso{
	font-weight: bold;
	font-size: 0.7em;
}

.abrev-disc{
	font-weight: bold;
	margin-left: 5px;
	font-size: 0.7em;
	margin-right: 0 !important;
}
