cor-1{
	background-color: #9ba6ff;
}
cor-2{
	background-color: #1e1e28;	
}
cor-3{
	background-color: #008080;
}
cor-4{
	background-color: #a6ff9b;
}
cor-5{
	background-color: #;
}
cor-6{
	background-color: #35465c;
}
cor-7{
	background-color: #35465c;
}
cor-8{
	background-color: #35465c;
}
cor-9{
	background-color: #35465c;
}
cor-10{
	background-color: #35465c;
}
cor-11{
	background-color: #35465c;
}
cor-12{
	background-color: #35465c;
}